.nav-item{
    margin: 3vh 2vw 0 2vw;
    font-weight: bolder;
    color: black;
}
.nav-link{
    color: black !important;
}
.btn{
    border-radius: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.navbar{
    border-radius: 0 0 2.5rem 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    background-color: white;
}
.image-container{
    width: 100%;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}
.navbar-brand{
    margin-left: 2vw;
}
.countdown-card{
    right: 0%;
    bottom: 15%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 25%;
    height: 45%;
    border-radius: 6% 0 0 6%;
}
.countdown-text{
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 3%;
}

.CD{
    color: black;
    text-align: center;
    margin: 10% auto 0 auto;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-weight: bolder;

}
.row{
    align-content: center;
    align-items: center;
    margin: 0 5% 0 5%;
}
.under-countdown{
    margin: 3% auto 0 auto;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    padding: 0 auto;
}

@media only screen and (max-width: 770px) {
    .countdown-card{
        width: 40%;
        height: 45%;
    } 
    .countdown-text{
        font-size: 1rem;
    }   
}

@media only screen and (max-width: 430px) {
    .countdown-card{
        width: 70%;
        height: 40%;
    } 
    .countdown-text{
        font-size: 1rem;
    }   
    .under-countdown{
        font-size: 0.6rem;
    }
}
